reviewers:
  defaults:
    - team:backend
    - team:frontend

  groups:
    backend-team:
      - team:backend
    frontend-team:
      - team:frontend

files:
  '**/*.py':
    - backend-team
  '**/*.js':
    - frontend-team
    - backend-team
  '**/*.ts':
    - frontend-team
    - backend-team

options:
  enable_group_assignment: false
  ignore_draft: true
  ignored_keywords:
    - DO NOT REVIEW
    - wip
  number_of_reviewers: 2
