name: Build and deploy SAM template

on:
  workflow_call:
    secrets:
      PAT_GITHUB:
        required: true
      AWS_OIDC_ROLE_ARN:
        required: true
    inputs:
      TOML_CONFIG:
        required: false
        default: dev
        type: string
      TEMPLATE_NAME:
        required: false
        default: template.yaml
        type: string
      TOML_CONFIG_FILE:
        required: false
        default: samconfig.toml
        type: string
      PYTHON_VERSION:
        type: string
        default: "3.8"
        required: false
      SAM_STACK_NAME:
        type: string
        required: true
      CLEANUP_STACK:
        type: boolean
        required: false
        description: Cleanup Stack after Run
        default: false
      UPLOAD_RESULT:
        type: boolean
        required: false
        description: upload integration Test result to Repo
        default: false
      OVERWRITE_RESULT:
        type: boolean
        required: false
        description: overwrite integration Test result to Repo
        default: false
      RUN_DEPLOY:
        type: boolean
        required: false
        description: overwrite integration Test result to Repo
        default: false
      ARM_SUPPORT:
        type: boolean
        default: false
        required: false


permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout
  pull-requests: write # 'write' access to pull requests

env:
  GITHUB_TOKEN: ${{ secrets.PAT_GITHUB }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal access token.
          fetch-depth: 0 # otherwise, there would be errors pushing refs to the destination repository.
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.PYTHON_VERSION }}
      - uses: aws-actions/setup-sam@v2
        with:
          use-installer: true
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}
          role-session-name: samplerolesession
          aws-region: us-east-2
      - name: Settings to support ARM Build
        if: ${{ inputs.ARM_SUPPORT }}
        run: docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
      - name: Validate template
        if: ${{ inputs.RUN_DEPLOY }}
        run: sam validate --template-file ${{ inputs.TEMPLATE_NAME }}
      - name: Build SAM
        if: ${{ inputs.RUN_DEPLOY }}
        run: sam build --template-file ${{ inputs.TEMPLATE_NAME }} --use-container -p --container-env-var GITHUB_TOKEN=$GITHUB_TOKEN --parameter-overrides GithubToken=$GITHUB_TOKEN
      - name: Deploy SAM template
        if: ${{ inputs.RUN_DEPLOY }}
        run: sam deploy --config-file ${{ inputs.TOML_CONFIG_FILE }} --config-env ${{ inputs.TOML_CONFIG }} --capabilities CAPABILITY_NAMED_IAM --no-confirm-changeset --no-fail-on-empty-changeset --stack-name ${{ inputs.SAM_STACK_NAME }} --parameter-overrides GithubToken=$GITHUB_TOKEN --resolve-image-repos
      - name: Get Deployed Step Function Details
        run: |
          {
            echo 'STACK_INFO<<EOF'
            (sam list stack-outputs --stack-name ${{ inputs.SAM_STACK_NAME }} --output json)
            echo EOF
          } >> "$GITHUB_ENV"
      - name: Set the OVERWRITE_RESULT param value
        run: |
          echo "OVERWRITE_RESULT=${{ inputs.OVERWRITE_RESULT }}" >> "$GITHUB_ENV"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          if [ -f requirements_testing.txt ]; then pip install -r requirements_testing.txt; fi
      - name: Run Integration Test
        run: |
          python -m integration_tests
      - name: Add and commit copied files
        if: ${{ inputs.OVERWRITE_RESULT }}
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add integration_tests/integration_test_run_result.json
          git commit -m "Add integration test run result for future verification"
      - name: Push changes
        if: ${{ inputs.OVERWRITE_RESULT }}
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ env.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
      - name: Comparison Artifact
        uses: actions/upload-artifact@v4
        with:
          name: reject_report.json
          path: integration_tests/reject_report.json
      - name: Delete SAM template
        if: ${{ inputs.CLEANUP_STACK }}
        run: sam delete --config-file ${{ inputs.TOML_CONFIG_FILE }} --config-env ${{ inputs.TOML_CONFIG }} --stack-name ${{ inputs.SAM_STACK_NAME }} --no-prompts
