name: Docker+SAM deploy for one environment

on: 
  workflow_call:
    secrets:
      PAT_GITHUB:
        required: true
      AWS_OIDC_ROLE_ARN:
        required: true
      AWS_ACCOUNT:
        required: true
    inputs:
      AWS_REGION:
        required: false
        default: us-east-2
        type: string
      ECR_REPO_NAME:
        required: true
        type: string
      TOML_CONFIG:
        required: false
        default: dev
        type: string
      TEMPLATE_NAME:
        required: false
        default: template.yaml
        type: string
      TOML_CONFIG_FILE:
        required: false
        default: samconfig.toml
        type: string
      RESTART_ECS_SERVICES:
        type: boolean
        default: true
        required: false
        description: "Whether to force restart ECS services after deployment"
      ECS_CLUSTER_NAME:
        type: string
        default: ""
        required: false
        description: "ECS cluster name to restart services in (required if RESTART_ECS_SERVICES is true)"


jobs:
  build-and-deploy-docker-image:
    uses: Travtus/.github/.github/workflows/build_and_deploy_docker_to_ecr.yaml@main
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
      AWS_OIDC_ROLE_ARN: ${{ secrets.AWS_OIDC_ROLE_ARN }}
      AWS_ACCOUNT: ${{ secrets.AWS_ACCOUNT }}
    with:
      AWS_REGION: ${{ inputs.AWS_REGION }}
      ECR_REPO_NAME: ${{ inputs.ECR_REPO_NAME }}
  build-and-deploy-sam-template:
    needs: build-and-deploy-docker-image
    uses: Travtus/.github/.github/workflows/build_and_deploy_sam_template_one_environment.yaml@fix-pipeline
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
      AWS_OIDC_ROLE_ARN: ${{ secrets.AWS_OIDC_ROLE_ARN }}
    with:
      TOML_CONFIG: ${{ inputs.TOML_CONFIG }}
      TEMPLATE_NAME: ${{ inputs.TEMPLATE_NAME }}
      TOML_CONFIG_FILE: ${{ inputs.TOML_CONFIG_FILE }}
  
  ecs-services-restart:
    name: Restart ECS services
    if: ${{ inputs.RESTART_ECS_SERVICES }}
    needs: build-and-deploy-sam-template
    uses: ./.github/workflows/restart-ecs-services-template.yaml
    secrets:
      AWS_OIDC_ROLE_ARN: ${{ secrets.AWS_OIDC_ROLE_ARN }}
    with:
      ECS_CLUSTER_NAME: ${{ inputs.ECS_CLUSTER_NAME }}
      AWS_REGION: ${{ inputs.AWS_REGION }}
